<ion-view  hide-back-button="true" >
<ion-nav-title style="font-size: 15px;
font-style: normal;">
     Order
     </ion-nav-title>

 <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>

<br>

  
<center><i class="ion-checkmark-circled" style="font-size: 143px;
color: #12c346;"></i></center>
<center><h4>Order Complete</h4></center><br>
<center><button  ng-click="gotodashboard();" class="button button-outline button-positive">
  Book New Order
</button></center><br>
<center><button ng-click="myorderbutton();" class="button button-outline button-balanced">
 My Orders
</button></center>
<br>
<br>
<br><br><br>



  </ion-content>
</ion-view>
