<ion-view >
 <ion-nav-title style="font-size: 15px;
font-style: normal;">
       Dashboard
     </ion-nav-title>
  <ion-content>

     <div class="row " >
        <div class="col col-50" ng-click="acservices();" >
            <center><img ng-src="img/acicon.png" style="height: 60px;
width: 60px;"/>
            <p style="color: black;
font-size: 13px;
font-weight: bold;">AC Services</p></center> 
        </div>
        <div class="col col-50"  >
              <center><img ng-src="img/computericon.png" style="height: 60px;
width: 60px;"/>
        <p style="color: black;
font-size: 13px;
font-weight: bold;">Computer Services</p></center> 
        </div>
          </div>
         
           <div class="row " >
        <div class="col col-50" >
           <center> <img ng-src="img/printericon.png" style="height: 60px;
width: 60px;" />
           <p style="color: black;
font-size: 13px;
font-weight: bold;">Printer Services</p></center> 
           
        </div>
        <div class="col col-50"  >
            <center><img ng-src="img/upsicon.png"  style="height: 60px;
width: 60px;" />
             <p style="color: black;
font-size: 13px;
font-weight: bold;">UPS Services</p></center> 
           
        </div>
    </div>
     <div class="row " >
        <div class="col col-50" ng-click="acservices();" >
            <center><img ng-src="img/biom.png"  style="height: 60px;
width: 60px;"/>
            <p style="color: black;
font-size: 13px;
font-weight: bold;">Biometric Services</p></center> 
        </div>
        <div class="col col-50"  >
              <center><img ng-src="img/cctv-icon.png"  style="height: 60px;
width: 60px;"/>
        <p style="color: black;
font-size: 13px;
font-weight: bold;">CCTV Services</p></center> 
        </div>
          </div>
           <div class="row " >
        <div class="col col-50" ng-click="acservices();" >
            <center><img ng-src="img/RO.png"  style="height: 60px;
width: 60px;"/>
            <p style="color: black;
font-size: 13px;
font-weight: bold;">RO Services</p></center> 
        </div>
        <div class="col col-50"  >
              <center><img ng-src="img/OtherServices.png" style="height: 60px;
width: 60px;"/>
        <p style="color: black;
font-size: 13px;
font-weight: bold;">Other Services</p></center> 
        </div>
          </div>

  </ion-content>
</ion-view>


        