<ion-view >
<ion-nav-title style="font-size: 15px;
font-style: normal;">
       My Cart
     </ion-nav-title>
<!-- <div class="bar bar-subheader">

</div> -->

  <ion-content>

<div ng-hide="cartitem" >
<br><br><br>
<center><i class="ion-android-cart" style="font-size: 143px;
color: #12c346;"></i></center>
<center><h4>Your cart is Empty!!</h4></center><br>
<center><button ng-click="gotodashboard();" class="button button-outline button-positive">
  Book New Order 
</button></center><br>
</div>
<div class="card" ng-repeat="carts in cartitem " >
   <!-- <a class="item item-avatar" href="#"> -->
    

   <div class="row">

  <div class="col myordercolor">Type </div>
  <div class="col myordercolorcontent">{{carts.Type}}</div>
  <div class="col myordercolor"> Frequency</div>
  <div class="col myordercolorcontent">{{carts.FREEQUENCY}}</div>
</div>
 <div class="row">

  <div class="col myordercolor">Qantitiy</div>
  <div class="col myordercolorcontent">{{carts.Quantity}}</div>
  <div class="col myordercolor">Cost</div>
  <div class="col myordercolorcontent">{{carts.Total_cost}}</div>
</div>
 <div class="row">

  <div class="col myordercolor">Date</div>
  <div class="col myordercolorcontent">{{carts.Date}}</div>
  <div class="col myordercolor">Time</div>
  <div class="col myordercolorcontent">{{carts.Time}}</div>
</div>


    <div class="row">
  <div class="col" style="background-color:#ef473a" ng-click="removecart($event,$index)"><center style="font-weight: bold;">Remove</center> </div>
  <div class="col"  style="background-color:#098599"><center style="
    color: white;
    font-weight: bold;"   >Checkout</center></div>
</div>
  </div>
</div><!-- <div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div> -->

  </ion-content>
</ion-view>
