<ion-view >
 <ion-nav-title style="font-size: 15px;
font-style: normal;">
      Verify Phone number
     </ion-nav-title>
  <ion-content>
 
<div class="card" style="border-left: 10px solid #2c3240;">
  <div class="item item-text-wrap" style="font-size: 12px; !important ;font-family: ramfont;
color: #666262e6; ">
    We will send you OTP(one time password) to Verify your Phone number
  </div>
 
</div>

<div class="card" style="margin-top: -14px !important;">
    <div class="item item-text-wrap ramfontstyle" style="font-size: 12px; !important ">
Enter your Phone number
  </div>

  
        <div class="bar bar-header item-input-inset" style="margin-bottom: 28px; border-bottom: 0px none #fbf7f7 !important;">
  <label class="item-input-wrapper" style="height: 35px;">
    <i class="icon ">+91-</i>
    <input  type="text"  ng-model="user.userphoneno" placeholder="Phone number">
  </label>

  
  <button type="button"  ng-click="sendotptophone();"  style="background-color: #3a920de6 !important;" class="button button-small button-positive" >OK</button>
</div>
 

</div>

 

  </ion-content>
</ion-view>
